//font-size
$font-headline: 26px;
$font-sub: 20px;
$font-p: 16px;

//fonts
$font-prm: "Poppins", sans-serif;

//colors
$clr-prm: #B78EFF;
$clr-acc: #000CF0;
$clr-snd: #24FF86;
$clr-black: #000224;

//paddings
$base-padding: 24px;

//layers
$layer-1: 9;
$layer-1: 99;
$layer-1: 999;
$layer-1: 9999;