.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  &-right-side{
    &-nav {
      list-style-type: none;

      &-item {
        font-size: 16px;
        color: $clr-black;

        &:hover {
          color: $clr-prm;
        }
      }

      &-dropdown {
        .ant-dropdown-menu-item-active {
          .ant-dropdown-menu-title-content {
            color: $clr-prm;
          }
        }
      }

      &-user-menu {
        .ant-dropdown-trigger {
          color: $clr-prm;
        }

        svg {
          fill: $clr-prm;
        }
      }

      li {
        display: inline-block;
        margin: 0 15px;
      }
    }
  }
}