.ConfiguratorOptions {
  position: fixed;
  top: 100px;
  right: 0px;
  width: 35%;
  background: #fff;
  overflow-y: scroll;
  bottom: 100px;

  &-item {
    &-shape {
      &-grey {
        background: #979797;
      }

      &-beige {
        background: #F7F0F0;
      }

      &-darkYellow {
        background: #D7C2A3;
      }
    }
  }
}