.ConfiguratorOptions {
  position: fixed;
  top: 100px;
  right: 0px;
  width: 35%;
  background: #fff;
  overflow-y: scroll;
  bottom: 100px;
  text-align: center;
  color: #979797;
  padding-top: 30px;

  &-title {
    color: #979797;
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
    margin-bottom: 40px;
    display: block;
  }

  &-shape-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 127px;
      cursor: pointer;

      &-shape {
        margin-bottom: 10px;
      }
    }

    &-item-rectangular {
      width: 27px;
      height: 46px;
      border: 1px solid #979797;
      box-sizing: border-box;
    }

    &-item-square {
      width: 45px;
      height: 45px;
      border: 1px solid #979797;
    }

    &-item-circle {
      width: 45px;
      height: 45px;
      border: 1px solid #979797;
    }
  }

  &-size {
    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    &-input-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin-bottom: 32px;

      label {
        font-size: 10px;
        line-height: 20px;
        color: #979797;
        display: block;
        margin-bottom: 32px;
      }

      input {
        margin-bottom: 32px;
        background: #f6f6f6;
        border: none;

        &:focus {
          border-color: $clr-prm !important;
        }
      }
    }
  }

  &-item {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

    &-title {
      font-size: 12px;
      line-height: 20px;
      font-weight: 300;
      color: #979797;
    }

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
    }

    &-shape {
      width: 45px;
      height: 45px;
      border-radius: 45px;
      margin-bottom: 10px;

      &-grey {
        background: #979797;
      }

      &-beige {
        background: #f7f0f0;
      }

      &-darkYellow {
        background: #d7c2a3;
      }

      &-wave {
        background: linear-gradient(180deg, #d8d8d8 0%, #ffffff 23.83%, #f8f7f6 39.45%, #d8d8d8 59.76%, #ffffff 75.91%, #bababa 91.54%);
      }

      &-yellow {
        background: #fff7ea;
      }

      &-lightGrey {
        background: #bfbfbf;
      }
    }
  }
}
