.ConfiguratorOptions {
  position: fixed;
  top: 100px;
  right: 0px;
  width: 35%;
  background: #fff;
  overflow-y: scroll;
  bottom: 100px;
  text-align: center;
  color: #979797;
  padding-top: 30px;

  &-title {
    color: #979797;
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
    margin-bottom: 40px;
    display: block;
  }

  &-item {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

    &-title {
      font-size: 12px;
      line-height: 20px;
      font-weight: 300;
      color: #979797;
    }

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
    }

    &-shape {
      width: 45px;
      height: 45px;
      border-radius: 45px;
      margin-bottom: 10px;

      &-grey {
        background: #979797;
      }

      &-beige {
        background: #F7F0F0;
      }

      &-darkYellow {
        background: #D7C2A3;
      }

      &-wave {
        background: linear-gradient(180deg, #D8D8D8 0%, #FFFFFF 23.83%, #F8F7F6 39.45%, #D8D8D8 59.76%, #FFFFFF 75.91%, #BABABA 91.54%);
      }

      &-yellow {
        background: #FFF7EA;
      }

      &-lightGrey {
        background: #FFF7EA;
      }
    }
  }
}