.App-footer {
    background-color: $clr-black;;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    height: 86px;
    width: 100%;
    font-size: $font-sub;
    padding: 10px 50px;

    div {
        color: $clr-white;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;  
    }

    a {
        color: $clr-snd;
    }

    .footer-help {
        text-align: center
    }

    .footer-cart {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 300px;

        .price-amount {
            font-weight: bold;
            font-size: 20px;
            line-height: 140%;
        }

        .ant-btn-primary {
            border-color: $clr-snd;
            background-color: $clr-snd;
            
            span {
                color: $clr-acc;
                font-weight: 500;
            }
        }
    }
}