.App-footer {
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    height: 100px;
    width: 100%;
    font-size: $font-sub;

    .footer-price {
        display: flex;
        width: 300px;
        justify-content: space-around;
        font-size: $font-headline;
        font-weight: 900;
    }

    .footer-cart {
        
    }
}